.box1 {
    width: 300px;
    height: 300px;
    background-color: blue;
    margin: 30px;
    padding: 30px;
    /*margin(padding): 1px ; /* 値1つは、上下左右 */
    /*margin(padding): 1px 2px ;  /* 値2つは、上下 左右 */
    /*margin(padding): 1px 2px 3px ;  /* 値3つは、上 左右 下 */
    /*margin(padding): 1px 2px 3px 4px ;  /* 値4つは、上 右 下 左 （時計まわり）*/    
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    /* 指定方法（box2の周囲すべてに枠線を設定する場合） */
    border: 5px solid yellow; /* まずborderの種類と色を指定 */
    /* 位置で指定する場合 */
    /*border: solid black;      /* まずborderの種類と色を指定 */
    /*border-top-width: 5px;      /* 上側に5pxのborderを指定 */
    /*border-right-width: 5px;    /* 右側に5pxのborderを指定 */
    /*border-bottom-width: 5px;   /* 下側に5pxのborderを指定 */
    /*border-left-width: 5px;     /* 左側に5pxのborderを指定 */
}