/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 400px; /* 高さ400px */
  background-image: url(img/mv.jpg);
  background-size: cover; /* 値(auto, contain埋める, coverおおう, %, px) or 幅 高さ*/
  background-position: bottom; /* 値 or 値 値 (top, right, bottom, left, center)*/
}

.main-visual-text {
  padding: 20px 0px 0px 20px;
  color: #6c6b6b;
  font-size: 32px
}

main {
  width: 840px;
  margin: 50px auto;
}

.site-box {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #6c6b6b;
}

.site-box-last {
  padding-bottom: 30px;
  border-bottom: 1px solid #6c6b6b;
}