* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img1 {
    height: 200px;
    background-image: url(img/box1.jpg);
    background-size: cover; /* 値(auto, contain埋める, coverおおう, %, px) or 幅 高さ*/
    background-position: center; /* 値 or 値 値 (top, right, bottom, left, center)*/
}

.img2 {
    height: 200px;
    background-image: url(img/box2.jpg);
    background-size: cover; /* 値(auto, contain埋める, coverおおう, %, px) or 幅 高さ*/
    background-position: center; /* 値 or 値 値 (top, right, bottom, left, center)*/
}

.img3 {
    height: 200px;
    background-image: url(img/box3.jpg);
    background-size: cover; /* 値(auto, contain埋める, coverおおう, %, px) or 幅 高さ*/
    background-position: center; /* 値 or 値 値 (top, right, bottom, left, center)*/
}

.img4 {
    height: 200px;
    background-image: url(img/box4.jpg);
    background-size: cover; /* 値(auto, contain埋める, coverおおう, %, px) or 幅 高さ*/
    background-position: center; /* 値 or 値 値 (top, right, bottom, left, center)*/
}